<a href="https://colab.research.google.com/github/rzazyx/Text-Analysis/blob/main/TextAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import re

In [2]:
re.match(r'\b\w{5}\b', 'Andri and Fatia')

In [3]:
re.search(r'\b\w{5}\b', 'Andri and Fatia')

In [4]:
re.findall(r'\b\w{5}\b', 'Andri and Fatia')

['Andri', 'Fatia']

In [5]:
s = "User's mobile number is 123456789"
s_hide = re.sub('\d', '*', s)
print(s_hide)

User's mobile number is *********

In [6]:
user_name = input("Please enter your name: ")

while not re.match("^[A-Za-z]+$", user_name):
  print("Error! Make sure you only use letters in your name")
  user_name = input("Please enter your name: ")
print("Hello! "+ user_name)

Please enter your name: reza
Hello! reza

In [7]:
pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [10]:
from fuzzywuzzy import fuzz

In [11]:
#Mencari kesamaan antara dua teks
text1 = "The quick brown fox jumps over the lazy dog"
text2 = "The quick brown fox jumps over the lazy dog."

similarity = fuzz.ratio(text1, text2)
print(similarity)

99

In [12]:
similarity = fuzz.partial_ratio(text1, text2)
print(similarity)

100

In [13]:
#Mencari kesamaan antara dua teks
text1 = "Ali is my name"
text2 = "My name is Ali"

print(fuzz.token_sort_ratio(text1, text2))

100

In [14]:
#Mencari kesamaan antara dua teks
text1 = "Ali is my name"
text2 = "My name is Ali Ali"

print(fuzz.token_sort_ratio(text1, text2))

88

In [15]:
print(fuzz.token_set_ratio(text1, text2))

100

In [16]:
from fuzzywuzzy import process

In [17]:
query = "My name is Ali"
choices = ["My name Ali", "My name is Ali",
            "My Ali"]
process.extract(query,choices)

[('My name is Ali', 100), ('My name Ali', 95), ('My Ali', 86)]

In [18]:
import pandas as pd

In [19]:
#Creating dataframe
data_1 = {
  "country": ["England", "Scotland", "Wales", "United Kingdom", "Northern Ireland"],
  "GDP_per_capita": [55.98, 5.45, 3.14, 67.33, 1.89]
}

data_2 = {
  "country": ["Northern Iland", "Englnd", "Wles", "Scotlnd", "United K."],
  "GDP_per_capita": [24900, 23882, 37460, 45101, 46510.20]
}
existing_data = pd.DataFrame(data_1)
exported_data = pd.DataFrame(data_2)

print(existing_data, exported_data, sep="\n\n")

            country  GDP_per_capita
0           England           55.98
1          Scotland            5.45
2             Wales            3.14
3    United Kingdom           67.33
4  Northern Ireland            1.89

          country  GDP_per_capita
0  Northern Iland         24900.0
1          Englnd         23882.0
2            Wles         37460.0
3         Scotlnd         45101.0
4       United K.         46510.2

In [20]:
data = pd.merge(existing_data, exported_data, on="country", how="left")
print(data.head())

            country  GDP_per_capita_x  GDP_per_capita_y
0           England             55.98               NaN
1          Scotland              5.45               NaN
2             Wales              3.14               NaN
3    United Kingdom             67.33               NaN
4  Northern Ireland              1.89               NaN

In [23]:
#Rename mispelled columns
exported_data["country"] = exported_data["country"].apply(
  lambda x: process.extractOne(x, existing_data["country"], scorer=fuzz.partial_ratio)[0]
)

#Attempt to join the two dataframe
data = pd.merge(existing_data, exported_data, on="country", how="left")
print(data.head())

            country  GDP_per_capita_x  GDP_per_capita_y
0           England             55.98           23882.0
1          Scotland              5.45           45101.0
2             Wales              3.14           37460.0
3    United Kingdom             67.33           46510.2
4  Northern Ireland              1.89           24900.0

In [24]:
from textblob import TextBlob

In [25]:
text_1 = "The movie was so awesome."
text_2 = "The food here tastes terrible."

#Determining the Polarity
p_1 = TextBlob(text_1).sentiment.polarity
p_2 = TextBlob(text_2).sentiment.polarity

#Determining the subjectivity
s_1 = TextBlob(text_1).sentiment.subjectivity
s_2 = TextBlob(text_2).sentiment.subjectivity

print("Polarity of Text 1 is", p_1)
print("Polarity of Text 2 is", p_2)
print("Subjectivity of Text 1 is", s_1)
print("Subjectivity of Text 2 is", s_2)

Polarity of Text 1 is 1.0
Polarity of Text 2 is -1.0
Subjectivity of Text 1 is 1.0
Subjectivity of Text 2 is 1.0

In [26]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.0/126.0 kB 2.7 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from vaderSentiment) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->vaderSentiment) (2024.7.4)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [27]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
sentiment = SentimentIntensityAnalyzer()
text_1 = "The book was a perfect balance between writting style and plot."
text_2 = "The pizza tastes terrible."
sent_1 = sentiment.polarity_scores(text_1)
sent_2 = sentiment.polarity_scores(text_2)

print("Sentiment of Text 1:", sent_1)
print("Sentiment of Text 2:", sent_2)

Sentiment of Text 1: {'neg': 0.0, 'neu': 0.73, 'pos': 0.27, 'compound': 0.5719}
Sentiment of Text 2: {'neg': 0.508, 'neu': 0.492, 'pos': 0.0, 'compound': -0.4767}

In [29]:
import spacy
from spacy import displacy

NER = spacy.load("en_core_web_sm")
raw_text_1 = "Mars is the fourth planet from the Sun, and the seventh largest. It’s the only planet we know of inhabited entirely by robots."
raw_text_2 = "Indonesia is the world's largest archipelagic state and the 14th-largest country by area, at 1,904,569 square kilometres (735,358 square miles)."

text1 = NER(raw_text_1)
text2 = NER(raw_text_2)

In [30]:
for word in text1.ents:
  print(word.text, word.label_)

Mars LOC
fourth ORDINAL
Sun LOC
seventh ORDINAL

In [31]:
for word in text2.ents:
  print(word.text, word.label_)

Indonesia GPE
14th ORDINAL
1,904,569 square kilometres QUANTITY
735,358 square miles QUANTITY

In [32]:
displacy.render(text1, style="ent", jupyter=True)